<div class="rbp-container rbp-section">
  <div class="rbp-card">
    <p class="rbp-copy">This legacy marketplace block has been replaced by the modular marketplace template. Assign this page to the marketplace template to use the current experience.</p>
  </div>
</div>
